<!DOCTYPE html>
<html lang="en" class="">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
    <meta charset='utf-8' />
    <meta content="summary" name="twitter:card" />
    <meta content="{{ .title }}" property="og:site_name" />
    {{if .text}}
    <meta content="{{ .text }}" name="twitter:description" />
    {{end}}
    <meta content="{{ .headline }}" name="twitter:title" />
    {{if .imageURL}}
    <meta content="{{ .imageURL }}" name="twitter:image:src" />
    <meta content="{{ .imageURL }}" name="og:image" />
    {{end}}

</head>
<body>

</body>
</html>
